@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

html, body{
    height: 100%;
    margin: 0;
}

/*
    여러 복수
*/

.flex{
    display: flex;
}

.flex-center{
    align-items: center;
}

.flex-middle{
    justify-content: center;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

ul{
    list-style: none;
}

/*
    개별
*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: white;
    box-shadow: 0 1px 6px 4px rgba(92, 92, 92, 0.233);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-warp{
    max-width: 70rem;
    height: 2.5rem;
    width: 100%;
}

.header-warp > a{
    flex-grow: 1;
}


#title{
    margin-top: 0.4rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Dongle', sans-serif;
}

.headerMenus{
    flex-grow: 8;
}

.headerMenu{
    width: 3rem;
    padding-right: 4rem;
    font-weight: 600;
}
main{
    margin-top: 4rem;
    
}
#main-warp{
    max-width: 70rem;
    width: 100%;
}
